<div class="row">
  <h1>
    <%= complete_name(@user) %>
  </h1>
</div>
<div class="row">
  <table class="table table-striped">
    <tr>
      <td style="width: 25%">Email:</td>
      <td> <%= @user.email if @user.email %></td>
    </tr>
    <tr>
      <td style="width: 25%">Time Zone:</td>
      <td> <%= @user.time_zone if @user.time_zone %></td>
    </tr>
    <tr>
      <td style="width: 25%">Date Joined:</td>
      <td> <%= display_date(@user.created_at) %></td>
    </tr> 
  </table>
</div>
<div class="row">
  <h3>Organization</h3>
  <div class="organization">
    <% @user.organizations.each do |org| %>
      <%= link_to "#{org.name}", user_organization_path(@user, org) %>
    <% end %>
  </div>
</div>
