<div class="row">
  <%= form_for [@user, PunchTime.new], :html => {:class => "form-inline", role: "form"} do |f| %>
    <%= f.hidden_field :user_id %>
  <div class="form-group">
    <%= f.label "Project Id", class: "sr-only" %>
    <%= f.text_field :project_id, class: "form-control", placeholder: "Project"  %>
  </div>
  <div class="form-group">
    <%= f.label "Organization Id", class: "sr-only" %>
    <%= f.text_field :organization_id, class: "form-control", placeholder: "Organization" %>
  </div>
  <div class="form-group">
    <%= f.label "Description", class: "sr-only" %>
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>
  <%= button_tag "Submit", :class => "btn btn-default", :type => "submit" %>
  <% end %>
</div>
