<%= form_for([@user, @punch_time]) do |f| %>
<%= f.hidden_field :user_id %>
<p> Project Id </p>
<%= f.text_field :project_id %>
<p> Organization Id </p>
<%= f.text_field :organization_id %>
<p> Tag </p>
<%= f.text_field :tag %>
  <% if user_on_the_clock?(current_user) %>
    <%= f.submit "Stop Time" %>
  <% else %>
    <%= f.submit "Start Time" %>
  <% end %>
<% end %>