<%= form_for [@user, PunchTime.new], :html => {:class => "form-inline", role: "form"} do |f| %>
  <%= f.hidden_field :user_id %>
<% if belongs_to_org? %>
<div class="form-group input-sm">
  <%= f.label "Organization Id", class: "sr-only" %>
  <%= collection_select(:organization, :organization_id, Organization.where(:id => @user.id), :id, :name, {:prompt => "Organization (optional)"}, {class: "form-control"})  %>
</div>
<% end %>
<div class="form-group input-sm">
  <%= f.label "Project Id", class: "sr-only" %>
  <%= collection_select(:project, :project_id, Project.where(:id => @user.id), :id, :name, {:prompt => 'Project (optional)'}, {:class => 'form-control'}) %>
</div>
<div class="form-group input-sm">
  <%= f.label "Description", class: "sr-only" %>
  <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
</div>
<div class="form-group input-sm">
  <%= button_tag "Submit", :class => "btn btn-default", :type => "submit" %>
</div>
<% end %>
