<div class="creation_station row">
  <ul class="nav">
    <li class='link'>
      <%= link_to "Create Organization", new_user_organization_url(@user) %>
    </li>
    <li class="link">
      <%= link_to "Create Project", new_user_project_url(@user) %>
    </li>
    <li class="link">
      <%= link_to "Create Punch Time", user_punch_times_url(@user) %>
    </li>
  </ul>
</div>
<div class="row">
  <div class='col-md-12'>
    <%= show_punch_form %>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <h3 class='date_heading'> Today </h3>
  </div>
</div>
<% @punch_times.each do |punch_time| %>
  <div class="row">
    <% if !punch_time.description.blank?   %>
      <div class='col-md-2'>
        <span><%= punch_time.description if punch_time.description %></span>
      </div>
    <% end %>
      <div class='col-md-2'>
        <span>
          <%=link_to "#{hour_and_minute(punch_time.in)} - #{hour_and_minute(punch_time.out) if punch_time.out}", user_punch_time_path(@user, punch_time), class: "punch_times" %>
        </span>
      </div>
    <% if punch_time.complete? %>
      <div class="col-md-3">
        <span>
          <%= display_punch_duration(punch_time.total_punch_time) if punch_time.total_punch_time %>
        </span>
      </div>
    <% else %>
      <div class='col-md-2'>
        <%= link_to "Out", user_out_path(current_user, punch_time.id), :method=> :put, class: "punch_out" %>
      </div>
    <% end %>
      <div class='col-md-1'>
        <%= punch_time.tag %>
      </div>
  </div>
<% end %>
