<div class="row">
  <%= month_and_day(@punch_time.in) %>
</div>
<div class='row'>
  <%= @punch_time.in %>
</div>
<div class='row'>
  <%= @punch_time.out %>
</div>
<div class="row">
  <%= display_punch_duration(@punch_time.total_punch_time) %>
</div>
<div class="row">
  <%= @organization.name if @organization %>
</div>
<div class="row">
  <%= @project.name if @project %>
</div>
